<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Acerca de nosotros</title>
        <tag th:replace="layout/plantillaCli :: head"></tag>
</head>

<body>
	<header th:replace="layout/plantillaCli :: header"></header> 

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a th:href="@{/web}">Inicio</a></li>
			<li class="active">Acerca de nostros</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Acerca de nostros</h1>
				</header>
				<p>    A" Mar y Tierra Restaurante nace de la frescura de nuestros ingredientes. Partiendo desde la tierra donde crecen nuestras 
                                        hortalizas, en El Valle Sagrado de los Incas, hasta todo aquello que representa a las comunidades Andinas. A" Mar y Tierra 
                                        Restaurante es una experiencia viva de lo que el Perú y sus culturas representan para el mundo. Combinando los colores de 
                                        nuestros ingredientes, hemos logrado convertirnos en la nación de sabores que representa al mundo.</p>
                                        
				<h3>UNA NACIÓN DE SABORES</h3>
				<p>     Adéntrate en la maravillosa cultura andina y descubre los colores de nuestra bandera gastronómica. Sumérgete en nuestros ríos…,
                                        aquí puedes tocar con la lengua los maizales y sobrevolar la sierra y ver nacer al ganado…, tú también eres ciudadano de esta
                                        soberana Nación de Sabores. El mundo es nuestra frontera.</p>
                                
                                <h3>100 años de tradición</h3>
				<p>     En A" Mar y Tierra Restaurante trabajamos para lograr ir más allá de lo que hasta ahora nos caracteriza: nuestra gastronomía. 
                                        Asimismo, hemos ideado un ambiente que logre crear en nuestros clientes una experiencia andina real..</p>
				<br/>
				<img src="/images/chaufamariscos.jpg" alt="" class="img-thumbnail pull-left" width="300" >
                                <img src="/images/chicharronpescado.jpg" alt="" class="img-thumbnail pull-right" width="300" >
                                <br/><br/>
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget">
					<h4>Galería</h4>
					<ul class="list-unstyled list-spaces">
                                                    <img src="/images/plaza.jpg" alt="" class="img-thumbnail pull-left" width="300" >
                                                    <br/><br/><br/>
                                                    <img src="/images/chanchocilindro.jpg" alt="" class="img-thumbnail pull-right" width="300" >
                                                    <br/><br/><br/>
                                                    <img src="/images/salchi.jpg" alt="" class="img-thumbnail pull-left" width="300" >
                                                    <br/><br/><br/>
                                                    <img src="/images/tiradito.jpg" alt="" class="img-thumbnail pull-right" width="300" >
                                                    <br/><br/> 
						</ul>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	
        <footer th:replace="layout/plantillaCli :: footer"></footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/js/headroom.min.js"></script>
	<script src="/js/jQuery.headroom.min.js"></script>
	<script src="/js/template.js"></script>
</body>
</html>