<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de Tipo de Empleado</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        
        <h2>[[#{catProducto.formulario}]]</h2>
        
        <br/>
        <form th:action="@{/guardarcatProducto}" method="post" th:object="${catProducto}">
            <input type="hidden" name="idCatProducto" th:field="*{idCatProducto}"/>
            <br/>
            <label for="descripcion">[[#{catProducto.descripcion}]]: </label>
            <input type="text" name="descripcion" th:field="*{descripcion}"/>
            <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Error descripcion</span>   
            <br/>
            <input type="submit" name="guardarcatProducto" th:value="#{accion.guardar}"/>
        </form>
        
        <a th:href="@{/catProducto}">[[#{accion.regresar}]]</a>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
