<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tipo Empleado</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        
        <a sec:authorize="hasRole ('ROLE_ADMIN')" th:href="@{/agregarcatProducto}">[[#{catProducto.crear}]]</a>
        <div th:if="${catProducto != null and !catProducto.empty}">
            <table border="1">
                <tr>
                    <th>[[#{catProducto.descripcion}]]</th>
                    <th sec:authorize="hasRole ('ROLE_ADMIN')">[[#{accion.editar}]]</th>
                    <th sec:authorize="hasRole ('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
                </tr>

                <tr th:each="catProducto : ${catProducto}">
                    <td th:text="${catProducto.descripcion}">Mostrar Descripcion</td>
                    <td sec:authorize="hasRole ('ROLE_ADMIN')"><a th:href="@{/editarcatProducto/} + ${catProducto.idCatProducto}"/>[[#{accion.editar}]]</td>
                    <td sec:authorize="hasRole ('ROLE_ADMIN')"><a th:href="@{/eliminarcatProducto(idCatProducto=${catProducto.idCatProducto})}"/>[[#{accion.eliminar}]]</td>
                </tr>
            </table>
        </div>
        <div th:if="${catProducto == null or catProducto.empty}">
            [[#{catProducto.lista-vacia}]]
        </div>
        
        <a th:href="@{/}">[[#{accion.regresar}]]</a>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
        
    </body>
</html>
