<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tipo Empleado</title>
        <tag th:replace="layout/plantilla :: head"></tag>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section class="home-section">
            <nav th:replace="layout/plantilla :: nav"></nav>
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">[[#{cliente.formulario}]]</div>

                    <div th:if="${cliente != null and !cliente.empty}">
                        <div class="sales-details">
                            <table border="1">
                                <tr>
                                    <th>[[#{cliente.dni}]]</th>
                                    <th>[[#{cliente.nombre}]]</th>
                                    <th>[[#{cliente.apellido}]]</th>
                                    <th>[[#{cliente.telefono}]]</th>
                                    <th>[[#{cliente.correo}]]</th>
                                    <th>[[#{cliente.direccion}]]</th>
                                    <th sec:authorize="hasRole ('ROLE_ADMIN')">[[#{accion.editar}]]</th>
                                    <th sec:authorize="hasRole ('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
                                </tr>

                                <tr th:each="cliente : ${cliente}">
                                    <td th:text="${cliente.dni}">Mostrar Dni</td>
                                    <td th:text="${cliente.nombre}">Mostrar Nombre</td>
                                    <td th:text="${cliente.apellido}">Mostrar Apellido</td>
                                    <td th:text="${cliente.telefono}">Mostrar Telefono</td>
                                    <td th:text="${cliente.correo}">Mostrar Correo</td>
                                    <td th:text="${cliente.direccion}">Mostrar Direccion</td>
                                    <td sec:authorize="hasRole ('ROLE_ADMIN')"><a th:href="@{/editarcliente/} + ${cliente.idCliente}"/>[[#{accion.editar}]]</td>
                                    <td sec:authorize="hasRole ('ROLE_ADMIN')"><a th:href="@{/eliminarcliente/} + ${cliente.idCliente}"/>[[#{accion.eliminar}]]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div th:if="${cliente == null or cliente.empty}">
                        [[#{cliente.lista-vacia}]]
                    </div>
                    <div class="button">
                        <a sec:authorize="hasRole ('ROLE_ADMIN')" th:href="@{/agregarcliente}">[[#{cliente.crear}]]</a>
                    </div>
                    <div class="button2">
                        <a th:href="@{/dash}">[[#{accion.regresar}]]</a>
                    </div>
                </div>

            </div>
        </section>
        <script src="./js/main.js"></script> 
    </body>
</html>
