<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Contacto</title>
        <tag th:replace="layout/plantillaCli :: head"></tag>
</head>

<body>
	<header th:replace="layout/plantillaCli :: header"></header>
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a th:href="@{/web}">Inicio</a></li>
			<li class="active">Contato</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Contactanos</h1>
				</header>
				
                                <div class="widget">
					<h4>Dirección</h4>
					<address>
						Jirón Bolognesi 540, Urubamba-Cusco
					</address>
					<h4>teléfono:</h4>
					<address>
						+51 986 751 534
					</address>
                                        <h4>Correo electrónico:</h4>
					<address>
						<a href="mailto:jefer1_2013@hotmail.com">jefer1_2013@hotmail.com</a><br>
					</address>
				</div>
			</article>
			<!-- /Article -->
			
		</div>
	</div>	<!-- /container -->
	
	
            <div class="container">
                <div class="row">
                    <h1 class="page-title">Nos encontramos aquí:</h1>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d485.3369522705767!2d-72.11568333905363!3d-13.30694453970414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916ddde48abfd12d%3A0x2115afe1a34b52e7!2sA%22%20MAR%20%26%20TIERRA%20-%20RESTAURANTE!5e0!3m2!1ses-419!2spe!4v1639201926877!5m2!1ses-419!2spe" 
                            width="100%" height="400" style="border:0;" allowfullscreen="" ></iframe>
                </div>
            </div>
	

	<footer th:replace="layout/plantillaCli :: footer"></footer>	
		
  
        <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/js/headroom.min.js"></script>
	<script src="/js/jQuery.headroom.min.js"></script>
	<script src="/js/template.js"></script>
	
	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script> 
	<script src="/js/google-map.js"></script>
	

</body>
</html>