<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos del Personal</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        
        <h2>[[#{personal.formulario}]]</h2>
        
        <br/>
        <form th:action="@{/guardarpersonal}" method="post" th:object="${personal}">
            <input type="hidden" name="idPersonal" th:field="*{idPersonal}"/>
            <br/>
            <label for="nombre">[[#{personal.nombre}]]: </label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>   
            <br/>
            <label for="apellido">[[#{personal.apellido}]]: </label>
            <input type="text" name="apellido" th:field="*{apellido}"/>
            <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error Apellido</span>
            <br/>
            <label for="dni">[[#{personal.dni}]]: </label>
            <input type="text" name="dni" th:field="*{dni}"/>
            <span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">Error DNI</span>
            <br/>
            <label for="cargo">[[#{personal.cargo}]]: </label>
            <input type="text" name="cargo" th:field="*{cargo}"/>
            <span th:if="${#fields.hasErrors('cargo')}" th:errors="*{cargo}">Error Cargo</span>
            <br/>
            <label for="fecha_ingreso">[[#{personal.fecha_ingreso}]]: </label>
            <input type="date" name="fecha_ingreso" th:field="*{fecha_ingreso}"/>
            <span th:if="${#fields.hasErrors('fecha_ingreso')}" th:errors="*{fecha_ingreso}">Error fecha de ingreso</span>
            <br/>
            <input type="submit" name="guardarpersonal" th:value="#{accion.guardar}"/>
        </form>
        
        <a th:href="@{/personal}">[[#{accion.regresar}]]</a>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
