<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        
        <a th:href="@{/agregar}">[[#{platillo.crear}]]</a>
        <div th:if="${platillos != null and !platillos.empty}">
            <table border="1">
                <tr>
                    <th>[[#{platillo.nombre}]]</th>
                    <th>[[#{platillo.precio}]]</th>
                    <th>[[#{platillo.categoria}]]</th>
                    <th>[[#{accion.editar}]]</th>
                    <th>[[#{accion.eliminar}]]</th>
                </tr>

                <tr th:each="platillo : ${platillos}">
                    <td th:text="${platillo.nombre}">Mostrar Nombre</td>
                    <td th:text="${platillo.precio}">Mostrar Precio</td>
                    <td th:text="${platillo.categoria}">Mostrar Categoria</td>
                    <td><a th:href="@{/editar/} + ${platillo.idPlatillo}"/>[[#{accion.editar}]]</td>
                    <td><a th:href="@{/eliminar(idPlatillo=${platillo.idPlatillo})}"/>[[#{accion.eliminar}]]</td>
                </tr>
            </table>
        </div>
        <div th:if="${platillos == null or platillos.empty}">
            [[#{platillo.lista-vacia}]]
        </div>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
        
    </body>
</html>
