<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos del Oferta</title>
        <tag th:replace="layout/plantilla :: head"></tag>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section class="home-section">
            <nav th:replace="layout/plantilla :: nav"></nav>
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">[[#{oferta.formulario}]]</div>

                    <br/>
                    <form th:action="@{/guardaroferta}" method="post" th:object="${oferta}">
                        <input type="hidden" name="idOferta" th:field="*{idOferta}"/>
                        <br/>
                        <label for="estado">[[#{oferta.estado}]]: </label>
                        <input type="text" pattern="[a-z,A-Z]{3,15}" name="estado" th:field="*{estado}"/>
                        <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">Error estado</span>
                        <br/>
                        <label for="fechaInicio">[[#{oferta.fechaInicio}]]: </label>
                        <input type="date" name="fechaInicio" th:field="*{fechaInicio}"/>
                        <span th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}">Error fechaInicio</span>
                        <br/>
                        <label for="fechaFinal">[[#{oferta.fechaFinal}]]: </label>
                        <input type="date" name="fechaFinal" th:field="*{fechaFinal}"/>
                        <span th:if="${#fields.hasErrors('fechaFinal')}" th:errors="*{fechaFinal}">Error fechaFinal</span>
                        <br/>
                        <label for="idProducto">[[#{oferta.idProducto}]]: </label>
                        <select name="idProducto" th:field="*{idProducto}">
                            <option th:each="idProducto:${idProducto}"
                                    th:value="${idProducto.idProducto}"
                                    th:text="${idProducto.nombre}"		
                                    />
                        </select>
                        <span th:if="${#fields.hasErrors('idProducto')}" th:errors="*{idProducto}">Error nombre de producto</span>
                        <br/>
                        <label for="precioOferta">[[#{oferta.precioOferta}]]: </label>
                        <input type="number" step="0.01" min="1" name="precioOferta" th:field="*{precioOferta}"/>
                        <span th:if="${#fields.hasErrors('precioOferta')}" th:errors="*{precioOferta}">Error precioOferta</span>   
                        <br/>
                        <label for="detalle">[[#{oferta.detalle}]]: </label>
                        <input type="text" size="45" name="detalle" th:field="*{detalle}"/>
                        <span th:if="${#fields.hasErrors('detalle')}" th:errors="*{detalle}">Error detalle</span>
                        <br/>
                        <div class="button">
                            <input type="submit" name="guardaroferta" th:value="#{accion.guardar}"/>
                        </div>
                    </form>
                    <div class="button2">
                        <a th:href="@{/oferta}">[[#{accion.regresar}]]</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="./js/main.js"></script>  
    </body>
</html>
