<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Oferta</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        
        <a th:href="@{/agregaroferta}">[[#{oferta.crear}]]</a>
        <div th:if="${oferta != null and !oferta.empty}">
            <table border="1">
                <tr>
                    <th>[[#{oferta.estado}]]</th>
                    <th>[[#{oferta.fechaInicio}]]</th>
                    <th>[[#{oferta.fechaFinal}]]</th>
                    <th>[[#{oferta.idProducto}]]</th>
                    <th>[[#{oferta.precioOferta}]]</th>
                    <th>[[#{producto.tipoProd}]]</th>
                    <th>[[#{producto.catProd}]]</th>
                    <th>[[#{oferta.detalle}]]</th>
                    <th>[[#{accion.editar}]]</th>
                    <th>[[#{accion.eliminar}]]</th>
                </tr>

                <tr th:each="oferta : ${oferta}">
                    <td th:text="${oferta.estado}">Mostrar Estado</td>
                    <td th:text="${oferta.fechaInicio}">Mostrar Fecha Inicio</td>
                    <td th:text="${oferta.fechaFinal}">Mostrar Fecha Final</td>
                    <td th:text="${oferta.idProducto.nombre}">Mostrar Producto</td>
                    <td th:text="${oferta.precioOferta}">Mostrar Precio Oferta</td>
                    <td th:text="${oferta.idProducto.tipoProd.descripcion}">Mostrar Tipo Producto</td>
                    <td th:text="${oferta.idProducto.catProd.descripcion}">Mostrar Categoria Producto</td>
                    <td th:text="${oferta.detalle}">Mostrar Detalle</td>
                    <td><a th:href="@{/editaroferta/} + ${oferta.idOferta}"/>[[#{accion.editar}]]</td>
                    <td><a th:href="@{/eliminaroferta/} + ${oferta.idOferta}"/>[[#{accion.eliminar}]]</td>
                </tr>
            </table>
        </div>
        <div th:if="${oferta == null or oferta.empty}">
            [[#{oferta.lista-vacia}]]
        </div>
        
        <a th:href="@{/}">[[#{accion.regresar}]]</a>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
        
    </body>
</html>
