<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos del Pedido</title>
        <tag th:replace="layout/plantilla :: head"></tag>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section class="home-section">
            <nav th:replace="layout/plantilla :: nav"></nav>
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">[[#{pedido.formulario}]]</div>

                    <br/>
                    <form th:action="@{/guardarpedido}" method="post" th:object="${pedido}">
                        <input type="hidden" name="idPedido" th:field="*{idPedido}"/>
                        <br/>
                        <label for="numero">[[#{pedido.numero}]]: </label>
                        <input type="number" name="numero" th:field="*{numero}"/>
                        <span th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}">Error numero</span>
                        <br/>
                        <label for="fecha">[[#{pedido.fecha}]]: </label>
                        <input type="date" name="fecha" th:field="*{fecha}"/>
                        <span th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">Error fecha</span>
                        <br/>
                        <label for="hora">[[#{pedido.hora}]]: </label>
                        <input type="time" name="hora" th:field="*{hora}"/>
                        <span th:if="${#fields.hasErrors('hora')}" th:errors="*{hora}">Error hora</span>
                        <br/>
                        <label for="estado">[[#{pedido.estado}]]: </label>
                        <input type="text" pattern="[a-z,A-Z]{3,15}" name="estado" th:field="*{estado}"/>
                        <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">Error estado</span>
                        <br/>
                        <label for="direccionPedido">[[#{pedido.direccionPedido}]]: </label>
                        <input type="text" name="direccionPedido" th:field="*{direccionPedido}"/>
                        <span th:if="${#fields.hasErrors('direccionPedido')}" th:errors="*{direccionPedido}">Error direccionPedido</span>
                        <br/>
                        <label for="empleado">[[#{pedido.empleado}]]: </label>
                        <select name="empleado" th:field="*{empleado}">
                            <option th:each="empleado:${empleado}"
                                    th:value="${empleado.idEmpleado}"
                                    th:text="${empleado.nombre}"		
                                    />
                        </select>
                        <span th:if="${#fields.hasErrors('empleado')}" th:errors="*{empleado}">Error empleado</span>
                        <br/>
                        <label for="cliente">[[#{pedido.cliente}]]: </label>
                        <select name="cliente" th:field="*{cliente}">
                            <option th:each="cliente:${cliente}"
                                    th:value="${cliente.idCliente}"
                                    th:text="${cliente.nombre}"		
                                    />
                        </select>
                        <span th:if="${#fields.hasErrors('cliente')}" th:errors="*{cliente}">Error cliente</span>
                        <br/>
                        <br/>
                        <label for="producto">[[#{pedido.producto}]]: </label>
                        <select name="producto" th:field="*{producto}">
                            <option th:each="producto:${producto}"
                                    th:value="${producto.idProducto}"
                                    th:text="${producto.nombre}"		
                                    />
                        </select>
                        <span th:if="${#fields.hasErrors('producto')}" th:errors="*{producto}">Error producto</span>
                        <br/>
                        <label for="cantidadProducto">[[#{pedido.cantidadProducto}]]: </label>
                        <input type="number" name="cantidadProducto" th:field="*{cantidadProducto}"/>
                        <span th:if="${#fields.hasErrors('cantidadProducto')}" th:errors="*{cantidadProducto}">Error cantidadProducto</span>
                        <br/>
                        <label for="oferta">[[#{pedido.oferta}]]: </label>
                        <select name="oferta" th:field="*{oferta}">
                            <option th:each="oferta:${oferta}"
                                    th:value="${oferta.idOferta}"
                                    th:text="${oferta.idProducto.nombre}"		
                                    />
                        </select>
                        <span th:if="${#fields.hasErrors('oferta')}" th:errors="*{oferta}">Error oferta</span>
                        <br/>
                        <label for="cantidadOferta">[[#{pedido.cantidadOferta}]]: </label>
                        <input type="number" name="cantidadOferta" th:field="*{cantidadOferta}"/>
                        <span th:if="${#fields.hasErrors('cantidadOferta')}" th:errors="*{cantidadOferta}">Error cantidadOferta</span>
                        <br/>
                        <br/>
                        <input type="hidden" name="total" th:field="*{total}"/>
                        <span th:if="${#fields.hasErrors('total')}" th:errors="*{total}">Error total</span>
                        
                        <label for="detalle">[[#{pedido.detalle}]]: </label>
                        <input type="text" size="45" name="detalle" th:field="*{detalle}"/>
                        <span th:if="${#fields.hasErrors('detalle')}" th:errors="*{detalle}">Error detalle</span>
                        <br/>
                        
                        <div class="button">
                            <input type="submit" name="guardarpedido" th:value="#{accion.guardar}"/>
                        </div>
                    </form>
                    <div class="button2">
                        <a th:href="@{/pedido}">[[#{accion.regresar}]]</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="./js/main.js"></script>  
    </body>
</html>
