<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Personal</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        
        <a th:href="@{/agregarpersonal}">[[#{personal.crear}]]</a>
        <div th:if="${personal != null and !personal.empty}">
            <table border="1">
                <tr>
                    <th>[[#{personal.nombre}]]</th>
                    <th>[[#{personal.apellido}]]</th>
                    <th>[[#{personal.dni}]]</th>
                    <th>[[#{personal.cargo}]]</th>
                    <th>[[#{personal.fecha_ingreso}]]</th>
                    <th>[[#{accion.editar}]]</th>
                    <th>[[#{accion.eliminar}]]</th>
                </tr>

                <tr th:each="personal : ${personal}">
                    <td th:text="${personal.nombre}">Mostrar Nombre</td>
                    <td th:text="${personal.apellido}">Mostrar Precio</td>
                    <td th:text="${personal.dni}">Mostrar Categoria</td>
                    <td th:text="${personal.cargo}">Mostrar Categoria</td>
                    <td th:text="${personal.fecha_ingreso}">Mostrar Categoria</td>
                    <td><a th:href="@{/editarpersonal/} + ${personal.idPersonal}"/>[[#{accion.editar}]]</td>
                    <td><a th:href="@{/eliminarpersonal(idPersonal=${personal.idPersonal})}"/>[[#{accion.eliminar}]]</td>
                </tr>
            </table>
        </div>
        <div th:if="${personal == null or personal.empty}">
            [[#{personal.lista-vacia}]]
        </div>
        
        <a th:href="@{/}">[[#{accion.regresar}]]</a>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
        
    </body>
</html>
