<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos del Platillo</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        
        <h2>[[#{platillo.formulario}]]</h2>
        
        <br/>
        <form th:action="@{/guardarplatillo}" method="post" th:object="${platillo}">
            <input type="hidden" name="idPlatillo" th:field="*{idPlatillo}"/>
            <br/>
            <label for="nombre">[[#{platillo.nombre}]]: </label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>   
            <br/>
            <label for="precio">[[#{platillo.precio}]]: </label>
            <input  name="precio" th:field="*{precio}"/>
            <span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">Error Precio:</span>
            <br/>
            <label for="categoria">[[#{platillo.categoria}]]: </label>
            <input type="text" name="categoria" th:field="*{categoria}"/>
            <span th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}">Error Categoria:</span>
            <br/>
            <input type="submit" name="guardarplatillo" th:value="#{accion.guardar}"/>
        </form>
        
        <a th:href="@{/platillo}">[[#{accion.regresar}]]</a>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
