<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Producto</title>
        <tag th:replace="layout/plantilla :: head"></tag>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section class="home-section">
            <nav th:replace="layout/plantilla :: nav"></nav>
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">[[#{producto.formulario}]]</div>


                    <div th:if="${producto != null and !producto.empty}">
                        <div class="sales-details">
                            <table border="1">
                                <tr>
                                    <th>Imagen</th>
                                    <th>[[#{producto.nombre}]]</th>
                                    <th>[[#{producto.precio}]]</th>
                                    <th>[[#{producto.tipoProd}]]</th>
                                    <th>[[#{producto.catProd}]]</th>
                                    <th>[[#{producto.detalle}]]</th>
                                    <th sec:authorize="hasRole ('ROLE_ADMIN')">[[#{accion.editar}]]</th>
                                    <th sec:authorize="hasRole ('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
                                </tr>

                                <tr th:each="producto:${producto}">
                                    <td>
                                        <a th:href="@{/detalleproducto/}+${producto.idProducto}"
                                           th:text="${producto.idProducto}">
                                        </a>
                                    </td>
                                    <td th:text="${producto.nombre}">Mostrar Nombre</td>
                                    <td th:text="${producto.precio}">Mostrar Precio</td>
                                    <td th:text="${producto.tipoProd.descripcion}">Mostrar Tipo de Producto</td>
                                    <td th:text="${producto.catProd.descripcion}">Mostrar Categoria de Producto</td>
                                    <td th:text="${producto.detalle}">Mostrar Detalle</td>
                                    <td sec:authorize="hasRole ('ROLE_ADMIN')"><a th:href="@{/editarproducto/} + ${producto.idProducto}"/>[[#{accion.editar}]]</td>
                                    <td sec:authorize="hasRole ('ROLE_ADMIN')"><a th:href="@{/eliminarproducto/} + ${producto.idProducto}"/>[[#{accion.eliminar}]]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div th:if="${producto == null or producto.empty}">
                        [[#{producto.lista-vacia}]]
                    </div>
                    <div class="button">
                        <a sec:authorize="hasRole ('ROLE_ADMIN')" th:href="@{/agregarproducto}">[[#{producto.crear}]]</a>
                    </div>
                    <div class="button2">
                        <a th:href="@{/dash}">[[#{accion.regresar}]]</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="./js/main.js"></script> 
    </body>
</html>
