<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Detalle del Producto</title>
        <tag th:replace="layout/plantilla :: head"></tag>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section class="home-section">
            <nav th:replace="layout/plantilla :: nav"></nav>
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">[[#{producto.formulario}]]</div>

                    <br/>
                    <img th:src="@{'/images/' + ${producto.imagen}}" 
                         th:alt="${producto.imagen}"
                         style="max-width: 25%;"/>

                    <ul>
                        <li th:text="'Nombre del producto: ' + ${producto.nombre}"></li>
                        <li th:text="'Precio del producto: ' + ${producto.precio}"></li>
                        <li th:text="'Detalle producto: ' + ${producto.detalle}"></li>
                    </ul>


                    <div class="button2">
                        <a th:href="@{/producto}">[[#{accion.regresar}]]</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="./js/main.js"></script>  
    </body>
</html>
