<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos del Reserva</title>
        <tag th:replace="layout/plantilla :: head"></tag>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section class="home-section">
            <nav th:replace="layout/plantilla :: nav"></nav>
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">[[#{reserva.formulario}]]</div>

                    <br/>
                    <form th:action="@{/guardarreserva}" method="post" th:object="${reserva}">
                        <input type="hidden" name="idReserva" th:field="*{idReserva}"/>
                        <br/>
                        <label for="fecha">[[#{reserva.fecha}]]: </label>
                        <input type="date" name="fecha" th:field="*{fecha}"/>
                        <span th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">Error fecha</span>
                        <br/>
                        <label for="hora">[[#{reserva.hora}]]: </label>
                        <input type="time" name="hora" th:field="*{hora}"/>
                        <span th:if="${#fields.hasErrors('hora')}" th:errors="*{hora}">Error hora</span>
                        <br/>
                        <label for="cliente">Nombre: </label>
                        <select name="cliente" th:field="*{cliente}">
                            <option th:each="cliente:${cliente}"
                                    th:value="${cliente.idCliente}"
                                    th:text="${cliente.nombre} +' ' +${cliente.apellido}"		
                                    />
                        </select>
                        <span th:if="${#fields.hasErrors('cliente')}" th:errors="*{cliente}">Error cliente</span>
                        <br/>
                        <label for="cliente">Telefono: </label>
                        <select name="cliente" th:field="*{cliente}">
                            <option th:each="cliente:${cliente}"
                                    th:value="${cliente.idCliente}"
                                    th:text="${cliente.telefono}"		
                                    />
                        </select>
                        <span th:if="${#fields.hasErrors('cliente')}" th:errors="*{cliente}">Error cliente</span>
                        <br/>
                        <label for="mesa">[[#{reserva.mesa}]]: </label>
                        <input type="number" name="mesa" th:field="*{mesa}"/>
                        <span th:if="${#fields.hasErrors('mesa')}" th:errors="*{mesa}">Error mesa</span>
                        <br/>
                        <label for="cantidad">[[#{reserva.cantidad}]]: </label>
                        <input type="number" name="cantidad" th:field="*{cantidad}"/>
                        <span th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}">Error cantidad</span>
                        <br/>
                        
                        <div class="button">
                            <input type="submit" name="guardarreserva" th:value="#{accion.guardar}"/>
                        </div>
                    </form>
                    <div class="button2">
                        <a th:href="@{/reserva}">[[#{accion.regresar}]]</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="./js/main.js"></script>  
    </body>
</html>
