<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tipo Empleado</title>
        <tag th:replace="layout/plantilla :: head"></tag>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section class="home-section">
            <nav th:replace="layout/plantilla :: nav"></nav>
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">[[#{tipoProducto.formulario}]]</div>


                    <div th:if="${tipoProducto != null and !tipoProducto.empty}">
                        <div class="sales-details">
                            <table border="1">
                                <tr>
                                    <th>[[#{tipoProducto.descripcion}]]</th>
                                    <th sec:authorize="hasRole ('ROLE_ADMIN')">[[#{accion.editar}]]</th>
                                    <th sec:authorize="hasRole ('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
                                </tr>

                                <tr th:each="tipoProducto : ${tipoProducto}">
                                    <td th:text="${tipoProducto.descripcion}">Mostrar Descripcion</td>
                                    <td sec:authorize="hasRole ('ROLE_ADMIN')"><a th:href="@{/editartipoProducto/} + ${tipoProducto.idTipoProducto}"/>[[#{accion.editar}]]</td>
                                    <td sec:authorize="hasRole ('ROLE_ADMIN')"><a th:href="@{/eliminartipoProducto/} + ${tipoProducto.idTipoProducto}"/>[[#{accion.eliminar}]]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div th:if="${tipoProducto == null or tipoProducto.empty}">
                        [[#{tipoProducto.lista-vacia}]]
                    </div>
                    <div class="button">
                        <a sec:authorize="hasRole ('ROLE_ADMIN')" th:href="@{/agregartipoProducto}">[[#{tipoProducto.crear}]]</a>
                    </div>
                    <div class="button2">
                        <a th:href="@{/dash}">[[#{accion.regresar}]]</a>
                    </div>
                </div>

            </div>
        </section>
        <script src="./js/main.js"></script>
    </body>
</html>
