<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Datos de Tipo de Empleado</title>
        <tag th:replace="layout/plantilla :: head"></tag>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section class="home-section">
            <nav th:replace="layout/plantilla :: nav"></nav>
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">[[#{tipoEmpleado.formulario}]]</div>

                    <br/>
                    <form th:action="@{/guardartipoEmpleado}" method="post" th:object="${tipoEmpleado}">
                        <input type="hidden" name="idTipoEmpleado" th:field="*{idTipoEmpleado}"/>
                        <br/>
                        <label for="descripcion">[[#{tipoEmpleado.descripcion}]]: </label>
                        <input type="text" pattern="[a-z,A-Z]{3,15}" name="descripcion" th:field="*{descripcion}"/>
                        <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Error descripcion</span>   
                        <br/>
                        <div class="button">
                            <input type="submit" name="guardartipoEmpleado" th:value="#{accion.guardar}"/>
                        </div>
                    </form>
                    <div class="button2">
                        <a th:href="@{/tipoEmpleado}">[[#{accion.regresar}]]</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="./js/main.js"></script> 
    </body>
</html>
